[data-semana]::after {
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  background: #FF2212;
  margin-left: 4px;
  border-radius: 50%;
  border: 2px solid #222;
}

[data-semana].aberto::after {
  background: #0BBA1F;
}